{% extends 'base.html.twig' %}
{% block title %} Playground | {{ parent() }} {% endblock %}
{% block body %}
    <h1>
        {{ title|upper }}
    </h1>

    {% include 'components/datetime.html.twig' %}
{% endblock %}